header {
  //border-bottom: 1px solid $default;
  box-shadow: lighten($default, 50%) 0px 2px 2px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $bg-color;
  z-index: 5;
}

nav {
  ul {
    font-family: $bitter;
    margin: 0;
    padding: 0;
    text-align: center;
    @extend %clearfix;
  }

  li {
    float: left;
    width: 25%;
    list-style-type: none;
    font-size: 14px;

    @include breakpoint(tablet) {
      font-size: 16px;
    }
  }

  a {
    border-bottom: 5px solid transparent;
    color: $default;
    display: block;
    padding: 10px 10px 5px;
    transition: border .3s ease, color .3s ease;
    position: relative;

    &:before {
      content: '';
      @include imageBlock(15px, 15px, url('../img/icon-sprite.png'));
      margin: auto;
      left:0;
      right: 0;
      margin-bottom: 5px;
      background-size: 30px 60px;

      @include breakpoint(tablet) {
        left:auto;
        right: auto;
        margin-bottom: 0;
        margin-right: 5px;
        display: inline-block;
      }
    }

    &:hover,
    &.active {
      border-bottom: 5px solid $blue;
      color: $blue;

      &:before {
        background-position: 15px 0;
      }

      &.portfolio {
        &:before {
          background-position: 15px -15px;
        }
      }

      &.blog {
        &:before {
          background-position: 15px -30px;
        }
      }

      &.contact {
        &:before {
          background-position: 15px -46px;
        }
      }
    }

    &.portfolio {
      &:before {
        background-position: 0 -15px;
      }
    }

    &.blog {
      &:before {
        background-position: 0 -30px;
      }
    }

    &.contact {
      &:before {
        background-position: 0 -46px;
      }
    }

    &:visited,
    &:focus {
      outline: none;
    }
  }

  @include breakpoint(tablet) {
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
  }
}

.content {
  margin-top: 100px;
  margin-top: rem(100);
  min-height: 75vh;
}

footer {
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  margin-top: rem(20);

  .dots {
    font-size: 30px;
    font-size: rem(30);
    font-weight: bold;
  }
}
