header {
  //border-bottom: 1px solid $default;
  box-shadow: lighten($default, 50%) 0px 2px 2px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $bg-color;
  z-index: 5;

  &.home-active {
    animation: dropDown;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
  }
}

nav {
  ul {
    font-family: $bitter;
    margin: 0;
    padding: 0;
    text-align: center;
    @extend %clearfix;
  }

  li {
    float: left;
    width: 25%;
    list-style-type: none;
    font-size: 14px;

    @include breakpoint(tablet) {
      font-size: 16px;
      padding: 0 15px;
    }
  }

  a {
    border-bottom: 5px solid transparent;
    color: $default;
    display: block;
    padding: 10px 10px 5px;
    transition: border .3s ease, color .3s ease;
    position: relative;

    &.icon {
      &:before {
        content: '';
        @include imageBlock(15px, 15px, url('../img/icon-sprite.png'));
        margin: auto;
        left:0;
        right: 0;
        margin-bottom: 5px;
        background-size: 30px 60px;

        @include breakpoint(tablet) {
          left:auto;
          right: auto;
          margin-bottom: 0;
          margin-right: 5px;
          display: inline-block;
        }
      }

      &:hover,
      &.active {
        border-bottom: 5px solid $blue;
        color: $blue;

        &:before {
          background-position: 15px 0;
        }

        &.portfolio {
          &:before {
            background-position: 15px -15px;
          }
        }

        &.blog {
          &:before {
            background-position: 15px -30px;
          }
        }

        &.contact {
          &:before {
            background-position: 15px -46px;
          }
        }
      }

      &.portfolio {
        &:before {
          background-position: 0 -15px;
        }
      }

      &.blog {
        &:before {
          background-position: 0 -30px;
        }
      }

      &.contact {
        &:before {
          background-position: 0 -46px;
        }
      }

      &:visited,
      &:focus {
        outline: none;
      }
    }
  }

  @include breakpoint(tablet) {
    //width: 75%;
    margin: 0 auto;
    font-size: 18px;
    padding-top: 10px;

    li {
      width: 20%;
    }
  }
}

.logo {
  padding: 0;
  border: none;

  h1 {
    margin: 0;
    font-family: $ptsans;
    line-height: 1;
  }

  .home-active & {
    .tag {
      text-align: center;
      // position: relative;
      // animation-name: dropDown;
      // animation-duration: 4s;
      // animation-iteration-count: 1;

     }

    .open-tag,
    .close-tag {
      display: inline-block;
      animation-duration: .5s;
      animation-delay: 2.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    .open-tag {
      transform-origin: right bottom;
      animation-name: openTagDrop;
     }

    .close-tag {
      transform-origin: left bottom;
      animation-name: closeTagDrop;
    }
  }

  @include breakpoint(lt-tablet) {
    display: none;
  }
}

.content {
  margin-top: 100px;
  margin-top: rem(100);
  min-height: 75vh;
}

footer {
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  margin-top: rem(20);

  .dots {
    font-size: 30px;
    font-size: rem(30);
    font-weight: bold;
  }
}

//logo animations on homepage

@keyframes dropDown {
  0% {
    transform:translateY(-100%);
  }
  5% {
    transform:translateY(-100%);
  }
  14% {
    transform:translateY(0);
  }
  23% {
    transform:translateY(-70%);
  }
  32% {
    transform:translateY(0%);
  }
  41% {
    transform:translateY(-50%);
  }
  50% {
    transform:translateY(0%);
  }
  59% {
    transform:translateY(-15%);
  }
  68% {
    transform:translateY(0);
  }
  77% {
    transform:translateY(-5%);
  }
  86% {
    transform:translateY(0);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes openTagDrop {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-30deg);
  }
}

@keyframes closeTagDrop {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(30deg);
  }
}
