/*
 * HEADER STYLES BEGIN
 */

header {
  //border-bottom: 1px solid $default;
  width: 100%;
  padding-top: 5px;
  position: fixed;
  top: 0;
  z-index: $z-top;
  box-shadow: lighten($default, 50%) 0px 2px 2px;
  background-color: $bg-color;

  @include breakpoint(tablet) {
    > .container {
      display: table;
    }
  }
}

.site-mark {
  margin: 0;
  font-family: $ptsans;
  text-align: center;
  font-size: rem(28);

  @include breakpoint(tablet) {
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
    font-size: rem(36);
  }

  a {
    color: $default;
  }
}

nav {

  @include breakpoint(tablet) {
    margin: 0 auto;
    display: table-cell;
    vertical-align: bottom;
    font-size: 18px;

    li {
      width: 33%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    font-family: $bitter;
    text-align: center;
    @extend %clearfix;
  }

  li {
    width: 33%;
    float: left;
    font-size: 14px;
    list-style-type: none;

    @include breakpoint(tablet) {
      padding: 0 15px;
      font-size: 16px;
    }
  }

  a {
    padding: 10px 0 0px 10px;
    border-bottom: 5px solid transparent;
    display: block;
    position: relative;
    color: $default;
    transition: border .3s ease, color .3s ease;

    &.icon {
      &:before {
        content: '';
        @include imageBlock(15px, 15px, url('../img/icon-sprite.png'));
        background-size: 30px 60px;
        display: inline-block;
        margin-right: 5px;

        @include breakpoint(tablet) {
          margin-bottom: 0;
        }
      }

      &:hover,
      &.active {
        border-bottom: 5px solid $blue;
        color: $blue;

        &:before {
          background-position: 15px 0;
        }

        &.icon-blog {
          &:before {
            background-position: 15px -30px;
          }
        }

        &.icon-contact {
          &:before {
            background-position: 15px -46px;
          }
        }
      }

      &-blog {
        &:before {
          background-position: 0 -30px;
        }
      }

      &-contact {
        &:before {
          background-position: 0 -46px;
        }
      }

      &:visited,
      &:focus {
        outline: none;
      }
    }
  }
}

/*
 * HEADER STYLES END
 */

 /*
  * .CONTENT STYLES BEGIN
  */

.content {
  min-height: 50vh;
  margin-top: 75px;
  margin-top: rem(75);
  position: relative;
  z-index: $z-bot;

  @include breakpoint(tablet) {
    margin-top: 50px;
    margin-top: rem(50);
  }
}


/*
 * FOOTER STYLES BEGIN
 */

footer {
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  margin-top: rem(20);

  .dots {
    font-size: 30px;
    font-size: rem(30);
    font-weight: bold;
  }
}

/*
 * FOOTER STYLES BEGIN
 */
