// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|PT+Sans:700,700italic,400italic,400);
// Variables
$bitter: 'Bitter', Georgia, serif;
$ptsans: 'PT Sans', Arial, sans-serif;

$blue: #03A9F4;
$blue-alt: darken($blue, 10%);
$grey: #9E9E9E;
$default: #222;
$bg-color: #fcfcfc;
// Base Imports
@import "plugins";		// jQuery Plugins, Bootstrap, etc...
@import "addins";		// Mixins, extensions, functions, etc...
@import "./layout/grid";
@import "base";			// global or element level styles
@import "layout";		// Header, Content, & Footer containers
@import "modules";		// Common elements throughout the site

// Sections (page specific styles, overwrides module styles) - use responsibly
@import "./sections/blog";
@import "./sections/portfolio";
@import "./sections/contact";
