/* include module styles here or include separate module files from the modules directory */

.categories {
  margin-bottom: 12px;
  margin-bottom: rem(12);

  span {
    display: inline-block;
    padding: 4px 8px;
    background-color: $blue-alt;
    color: $bg-color;
    font-size: 12px;
    font-size: rem(12);

    + span {
      margin-left: 5px;
    }

    //TO DO: add colors for languages and output classes into <span>
    &.javascript {
      background-color: #E5A029;
    }

    &.php {
      background-color: #4F5B93;
    }

    &.responsive {
      background-color: #000;
    }

    &.sass {
      background-color: #c6538c;
    }

    &.wordpress {
      background-color: #838CC7;
    }
  }
}

.btn {
  background-color: transparent;
  border: 3px solid $blue;
  color: $blue;
  display: inline-block;
  padding: 5px 15px;
  transition: .3s all ease;
  font-weight: bold;

  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
