<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio and Blog of Khalil Rutledge, Front-End Web Developer in Atlanta, GA">
  <meta name="keywords" content="Khalil Rutledge, javascript, js, sass, scss, css, html, front-end, front end">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Khalil Rutledge, Front-End Web Developer, Atlanta, GA </title>
  <!--[if lt IE 9]>
    <script src="/js/elites/respond.min.js"></script>
  <![endif]-->
  <meta property="og:url" content="https://khalilrutledge.com{{ page.url }}">
  <meta property="og:title" content="{% if page.title %} {{ page.title }} | {% endif %} Khalil Rutledge, Front-End Web Developer, Atlanta, GA ">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% endif %}{% if post.excerpt %}{{ post.excerpt }}{% endif %}">
  <link rel="stylesheet" href="/css/main.compiled.css" />
  <script src="/js/elites/modernizr-custom.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="site-mark" title="Web Developer in Atlanta, GA">{% if page.active != 'home' %}<a href="/">{% endif %}Khalil Rutledge{% if page.active != 'home' %}</a>{% endif %}</h1>
      <nav>
        <ul>
          <li><a href="/" class="{% if page.active == 'home' %}active{% endif %} icon-home icon">Home</a></li>
          <li><a href="/blog/" class="{% if page.active == 'blog' %}active{% endif %} icon-blog icon">Blog</a></li>
          <li><a href="/contact/" class="{% if page.active == 'contact' %}active{% endif %} icon-contact icon">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="content"><!-- START OF .content -->
    <div class="hero">
      <div class="scene">
        <div class="layer layer-1">
          <div class="desk"></div>
          <div class="plant">
            <div class="plant-stalk"></div>
            <div class="plant-leaf"></div>
            <div class="plant-leaf"></div>
          </div>
          <div class="lamp">
            <div class="lamp-base"></div>
            <div class="lamp-mid">
              <div class="lamp-mid-knob"></div>
            </div>
            <div class="lamp-top"></div>
          </div>
          <div class="lamp-light"></div>
          <div class="laptop"></div>
          <div class="book"></div>
          <div class="book-1"></div>
          <div class="book-2"></div>
          <div class="coffee">
            <div class="coffee-handle"></div>
            <div class="coffee-brew"></div>
          </div>
          <div class="glass"></div>
        </div>
        <div class="layer layer-2">
      <!--     <div class="self">
            <div class="self-head"></div>
          </div> -->
        </div>
        <div class="layer layer-3">
          <div class="painting">
            <div class="painting-inner"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
