<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio and Blog of Khalil Rutledge, Front-End Web Developer in Atlanta, GA">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Khalil Rutledge, Front-End Web Developer </title>
  <!--[if lt IE 9]>
    <script src="js/elites/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/css/main.compiled.css" />
  <script src="/js/elites/modernizr-custom.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/" class="{% if page.active == 'home' %}active{% endif %}">Home</a></li>
          <li><a href="/portfolio/" class="{% if page.active == 'portfolio' %}active{% endif %} portfolio">Portfolio</a></li>
          <li><a href="/blog/" class="{% if page.active == 'blog' %}active{% endif %} blog">Blog</a></li>
          <li><a href="/contact/" class="{% if page.active == 'contact' %}active{% endif %} contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
