---
layout: default
title: Blog
active: blog
---

<section class="container content">
  <div class="row">
    <div class="col-8">
      <h1>Blog</h1>

      <p>Lorem ipsum dolor sit amet, vero labore dissentias ne qui, ius salutatus repudiare in, sensibus posidonium vis no. Solum soleat at est, recusabo explicari ne eos, nec ne enim rebum quando.</p>

      {% if paginator.posts %}
        <div class="post-index">
          {% for post in paginator.posts %}

          <article class="post">
            <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <span class="date">{{ post.date | date_to_string }}</span>
            {% if post.categories %}
              <div class="categories">
                {% for category in post.categories%}
                  <span>{{category}}</span>
                {% endfor %}
              </div>
            {% endif %}
            {{ post.excerpt }}
          </article>

          {% endfor %}
        </div>
      {% else %}
        <h4>Sorry! it looks like there isn't anything here yet. :( Please check again later</h4>
      {% endif %}

      {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="prev">&laquo;&nbsp;Previous</a>
          {% else %}
            <span class="prev">&laquo;&nbsp;Previous</span>
          {% endif %}
          <span class=""><strong>{{ paginator.page }}</strong> of <strong>{{ paginator.total_pages }}</strong></span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next&nbsp;&raquo;</a>
          {% else %}
              <span class="next">Next&nbsp;&raquo;</span>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% include blog-index-sidebar.html %}
  </div>
</section>
