---
layout: default
---
<section class="container content">
  <div class="row">
    <div class="single">
      <h1 class="title">{{page.title}}</h1>
      {% if page.categories %}
        <div class="categories">
          {% for category in page.categories%}
            <span>{{category}}</span>
          {% endfor %}
        </div>
      {% endif %}
      {{ content }}
      <div class="post-navigation">
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
        {% endif %}
      </div>
    </div>
    {% include blog-post-sidebar.html %}
  </div>
</section>
