//blog index styles

.post {
  padding: 20px 0;
  border-top: 1px dotted lighten($default, 50%);
  // + .post {
  //   border-top: 1px solid lighten($default, 50%);
  // }

  a {
    display: block;
  }

  h3 {
    margin-bottom: 0;
  }

  .date {
    margin-bottom: 10px;
  }
}

.date {
  display: block;
  font-size: 12px;
  font-size: rem(12);
  font-weight: bold;
}


//single post styles
.single {
  @include breakpoint(tablet){
    @extend .col-8;
  }
}

//sidebar styles
.sidebar {
  &-interior {

    .posts {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        margin-bottom: rem(10);
      }

      a {
        display: block;
      }
    }

    @include breakpoint(tablet){
      border-left: 3px solid $blue;
      padding: 10px 25px;
      margin-top: 20px;
    }

    //blog index sidebar
    .index & {
      text-align: center;
    }

    .author-image {
      border-radius: 100%;
    }
  }
}


//single post next/prev
.post-navigation {
  @extend %clearfix;
  margin-bottom: 20px;

  .prev {
    float: left;
  }

  .next {
    float: right;
  }
}

//blog index pagination
.pagination {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;

  .prev {
    margin-right: 10px;
  }

  .next {
    margin-left: 10px;
  }
}
